.home {
  padding: 10px;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 28px;
  }

  &__feature {
    margin: 10px 0 30px 0;
    text-align: center;
  }

  &__feature-item {
    margin-top: 10px;
  }

  &__link {
    color: #2299ff;
  }
}